@model IEnumerable<DataLayer.FormTB>

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_MainLayoutPage.cshtml";
}

    <section class="ls-section style-two">
        <div class="auto-container">
            <div class="filters-backdrop"></div>

            <div class="row">

                <!-- Filters Column -->
                <div class="filters-column col-lg-4 col-md-12 col-sm-12">

                    <div class="inner-column">
                        <button type="button" class="theme-btn close-filters">X</button>

                        <!-- Top Filters -->
                        <ul class="top-filters">
                            <li class="active"><a href="#">Filters</a></li>
                            <li><a href="#">Catergory</a></li>
                        </ul>

                        <!-- Listing Form -->
                        <div class="listing-search-form">
                            <form>
                                <div class="row">
                                    <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                        <input type="text" name="listing-search" placeholder="What are you looking for?">
                                    </div>
                                    <!-- Form Group -->
                                    <div class="form-group col-lg-12 col-md-12 col-sm-12 location">
                                        <input type="text" name="listing-search" placeholder="Lucation">
                                        <span class="icon flaticon-placeholder"></span>
                                    </div>

                                    <!-- Form Group -->
                                    <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                        <select class="chosen-select">
                                            <option>All Categories</option>
                                            <option>Residential</option>
                                            <option>Commercial</option>
                                            <option>Industrial</option>
                                            <option>Apartments</option>
                                        </select>
                                    </div>

                                    <!-- Form Group -->
                                    <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                        <select class="chosen-select">
                                            <option>Price</option>
                                            <option>Residential</option>
                                            <option>Commercial</option>
                                            <option>Industrial</option>
                                            <option>Apartments</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <!-- Switchbox Outer -->
                        <div class="switchbox-outer">

                            <ul class="switchbox">
                                <li>
                                    <label class="switch">
                                        <input type="checkbox" checked>
                                        <span class="slider round"></span>
                                        <span class="title">Open Now</span>
                                    </label>
                                </li>
                                <li>
                                    <label class="switch">
                                        <input type="checkbox">
                                        <span class="slider round"></span>
                                        <span class="title">Near Me</span>
                                    </label>
                                </li>
                            </ul>
                        </div>

                        <!-- Checkboxes Ouer -->
                        <div class="checkbox-outer">
                            <h4>Tags</h4>
                            <ul class="checkboxes two-column">
                                <li>
                                    <input id="check-a" type="checkbox" name="check">
                                    <label for="check-a">Wireless Internet</label>
                                </li>
                                <li>
                                    <input id="check-b" type="checkbox" name="check">
                                    <label for="check-b">Bike Parking</label>
                                </li>
                                <li>
                                    <input id="check-c" type="checkbox" name="check">
                                    <label for="check-c">Good for Kids</label>
                                </li>
                                <li>
                                    <input id="check-d" type="checkbox" name="check">
                                    <label for="check-d">Street Parking</label>
                                </li>
                                <li>
                                    <input id="check-e" type="checkbox" name="check">
                                    <label for="check-e">Cable TV</label>
                                </li>
                                <li>
                                    <input id="check-f" type="checkbox" name="check">
                                    <label for="check-f">Hair Dryer</label>
                                </li>
                                <li>
                                    <input id="check-g" type="checkbox" name="check">
                                    <label for="check-g">Kitchen</label>
                                </li>
                                <li>
                                    <input id="check-h" type="checkbox" name="check">
                                    <label for="check-h">Parking</label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Content Column -->
                <div class="content-column col-lg-8 col-md-12 col-sm-12">
                    <div class="ls-outer">
                        <button type="button" class="theme-btn btn-style-two toggle-filters">Show Filters</button>

                        <!-- ls Switcher -->
                        <div class="ls-switcher">
                            <div class="showing-result">
                                <div class="arrange">
                                    <a href="#" class="active"><span class="icon flaticon-squares"></span></a>
                                    <a href="#"><span class="icon flaticon-setup"></span></a>
                                </div>
                                <div class="text">@Model.Count() Results Found For "@ViewBag.search"</div>
                            </div>
                            <div class="sort-by">
                                <select class="chosen-select">
                                    <option>Sort By</option>
                                    <option>Residential</option>
                                    <option>Commercial</option>
                                    <option>Industrial</option>
                                    <option>Apartments</option>
                                </select>
                            </div>
                        </div>

                       
                        <div class="row">

                            @foreach (var item in Model)
                            {
                                <div class="listing-block listing-block col-lg-6 col-md-6 col-sm-12">
                                    @Html.Partial("_singleJobShow" , item)
                                </div>
                            }

                        </div>

                        <!-- Pagination -->
                        <nav class="ls-pagination">
                            <ul>
                                <li class="prev"><a href="#"><i class="flaticon-left"></i> Prev</a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#" class="current-page">2</a></li>
                                <li><a href="#">3</a></li>
                                <li>...</li>
                                <li><a href="#">14</a></li>
                                <li class="next"><a href="#">Next <i class="flaticon-right"></i> </a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>

