@model IEnumerable<DataLayer.FormTB>

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_LandingPage.cshtml";
}

<section class="ls-section style-two">
    <div class="auto-container">
        <div class="filters-backdrop"></div>

        <div class="row">

            <!-- Filters Column -->
          

            <!-- Content Column -->
            <div class="content-column col-lg-12 col-md-12 col-sm-12">
                <div class="ls-outer">
                    <button type="button" class="theme-btn btn-style-two toggle-filters">Show Filters</button>

                    <!-- ls Switcher -->
                    <div class="ls-switcher">
                        <div class="showing-result">
                            
                            <div class="text">@Model.Count() Results Found For "@ViewBag.search"</div>
                        </div>
                        
                    </div>


                    <div class="row">

                        @foreach (var item in Model)
                        {
                            <div class="listing-block listing-block col-lg-6 col-md-6 col-sm-12">
                                @Html.Partial("_singleJobShow", item)
                            </div>
                        }

                    </div>

                    <!-- Pagination -->
                    @*<nav class="ls-pagination">
                        <ul>
                            <li class="prev"><a href="#"><i class="flaticon-left"></i> Prev</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#" class="current-page">2</a></li>
                            <li><a href="#">3</a></li>
                            <li>...</li>
                            <li><a href="#">14</a></li>
                            <li class="next"><a href="#">Next <i class="flaticon-right"></i> </a></li>
                        </ul>
                    </nav>*@
                </div>
            </div>
        </div>
    </div>
</section>

