
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayoutPage.cshtml";
}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div id="avRecorder" class=""></div>

@section scriptsmain
{

    


    <script type="text/javascript">

        $("#avRecorder").bind('uploadFinished', function (event, data) {
            console.log("uploadFinished");
            console.log(data);
        });



        $(document).ready(function () {
            $("#avRecorder").AvRecorder('avRecorder', {
                constraints: {
                    audio: true,
                },
                file: null,
                time_limit: "1800",
                server_upload_endpoint: "/test/save" //Will be appended to the window.orign that the request is coming from.
            });
        });
    </script>
}