@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_LandingPage.cshtml";
}
<br>
    <div style="padding:30px;text-align:center" class="alrt alert-success">Your message has been successfully sent</div>