@model IEnumerable<final.Areas.KarFarma.ViewModle.JobForm>
@{
    ViewBag.Title = "JobsFOrm";
    Layout = "~/Areas/KarFarma/Views/Shared/_LayoutEmployee.cshtml";
}
<h4 class="title">JobsForms</h4>
<div class="table-outer">
    <table class="default-table">
        <thead>
            <tr>
                <th>Number</th>
                <th>Date</th>
                <th>View</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var group in Model)
            {
                <tr>
                    <td>@group.count</td>
                    <td>@group.date</td>
                    <td>
                        <a onclick="view(@group.id)" href="javascript:;" class="btn btn-outline btn-circle btn-sm purple btn-viewgroup">
                            <i class="fa fa-edit"></i> view |
                        </a>
                        <a  href="@Url.Action("EditForm","Panel", new { id = group.id })" class="btn btn-outline btn-circle btn-sm purple btn-viewgroup">
                            <i class="fa fa-edit"></i> Edit |
                        </a>
                        <a  href="javascript;:" class="btn btn-outline btn-circle btn-sm purple btn-viewgroup">
                            <i class="fa fa-edit"></i> Delete |
                        </a>
                    </td>
                </tr>

            }
        </tbody>
    </table>
</div>
<div class="modal " id="MyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="" role="document">
        <div class="modal-content">
            <div class="modal-body" id="myModalBody">
                ...
            </div>

        </div>
    </div>
</div>
@section PageScript{
    <script>
        function view(id) {
            $.get("/karFarma/Panel/ShowForms/" + id, function (res) {

                $("#MyModal").modal();

                $("#myModalBody").html(res);

            });
        }
    </script>

}




