
@{
    ViewBag.Title = "RecievedResume";
    Layout = "~/Areas/KarFarma/Views/Shared/_LayoutEmployee.cshtml";
}
<h4 class="title">Resumes</h4>
<div class="table-outer">
    <table class="default-table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Date</th>
                <th>View</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Item</td>
                <td>Item</td>
                <td>Item</td>
                <td>
                    <a href="javascript:;" data-id="1" class="btn btn-outline btn-circle btn-sm purple " id="btn-viewgroup">
                        <i class="fa fa-edit"></i> view
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

@section PageScript{

    <script>
        $(function () {
            $(document).ready(function () {

                $("#btn-viewgroup").click(function () {
                    console.log($(this).attr("data-id"));
                    $.ajax({
                        type: "POST",
                        url: "/KarFarma/Panel/ShowResume",
                        data: JSON.stringify({
                            id: $(this).attr("data-id")
                        }),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (e) {
                        },
                        error: function () {
                            alert('khata');
                        }
                    });
                });



            });
        });
    </script>

}




