
@{
    ViewBag.Title = "ActiveUser";
}

<h3>Activation Account</h3>
<div class="alert alert-success">
    <p>
        Dear @ViewBag.username!
        your account is actived
        <a href="/Login">Lognin Your Account</a>
    </p>
</div>

