
@model DataLayer.UserTB
@{
    ViewBag.Title = "Success Reset";
    Layout = "~/Views/Shared/_LandingPage.cshtml";
}

<div class="alert alert-success m-t-30 p-4">
    <p> @Model.UserName You have successfully Reset Your Password. </p>
    <p>An email with an Reset Password link was sent to @Model.Email</p>
</div>

