
<div class="row">
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
        <div class="ui-item">
            <div class="left">
                <h4>@ViewBag.listings</h4>
                <p>Published Listings</p>
            </div>
            <div class="right">
                <i class="icon flaticon-computer"></i>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
        <div class="ui-item bg-purple">
            <div class="left">
                <h4>@ViewBag.jobcategory</h4>
                <p>Job Category</p>
            </div>
            <div class="right">
                <i class="icon flaticon-list"></i>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
        <div class="ui-item bg-pink">
            <div class="left">
                <h4>@ViewBag.employer</h4>
                <p>Employer</p>
            </div>
            <div class="right">
                <i class="icon flaticon-user-1"></i>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
        <div class="ui-item bg-yellow">
            <div class="left">
                <h4>@ViewBag.employee</h4>
                <p>Employee</p>
            </div>
            <div class="right">
                <i class="icon flaticon-user"></i>
            </div>
        </div>
    </div>
</div>