@if (User.Identity.IsAuthenticated)
{

    <a href="#" class="call-modal">Hello @User.Identity.Name</a>
    <a href="/Account/LogOff" class="call-modal">Log out</a>


}
else
{
    <a href="/Login" class="call-modal">Login </a><span class="m-0">|</span>
    <a href = "/register" class="call-modal">Register</a>
}
