@if (User.Identity.IsAuthenticated)
{

    <a href="#" class="call-modal">Hello @User.Identity.Name</a>
    <a href="/Account/LogOff" class="call-modal">Log out</a>


}
else
{
    <a href="/Login" class="" target="_blank">Login </a><span class="m-0">|</span>
    <a href="/register" class=""  target="_blank">Register</a>
}
