@model DataLayer.FormTB


  
        <div class="inner-box">
            <div class="image-box">
                <figure class="image"><img src="/Content/images/resource/listing/1-1.jpg" alt=""></figure>
                <div class="tags">
                    <span>Featured</span>
                    <span>$25 - $35</span>
                </div>
                <a href="#" class="like-btn"><span class="flaticon-heart"></span> Save</a>
            </div>
            <div class="lower-content">
                <div class="user-thumb"><img src="/Content/images/resource/user-thumb-1.jpg" alt="" /></div>
                <div class="rating">
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="title">(7 review)</span>
                </div>
                <h3><a href="#">@Model.CompanyName <span class="icon icon-verified"></span></a></h3>
                <div class="text">Luxury hotel in the heart of Bloomsbury.</div>
                <ul class="info">
                    <li><span class="flaticon-pin"></span>@Model.Region</li>
                    <li><span class="flaticon-phone-call"></span> +61 2 8236 9200 </li>
                </ul>
            </div>
            <div class="bottom-box">
                <div class="places">
                    <div class="place"><span class="icon flaticon-bed"></span> Hotels </div>
                    <span class="count">+3</span>
                </div>
                <div class="status">Now Closed</div>
            </div>
        </div>
 

