
@{
    ViewBag.Title = "CreateResume";
    Layout = "~/Areas/KarJo/Views/Shared/_LayoutKarjo.cshtml";
}
<div class="form-widget ls-widget ">
    <div class="widget-title"><h4><span class="icon flaticon-user"></span>Your Resume</h4></div>
    <div class="widget-content">
        <!-- Comment Form -->
        <div class="default-form">
            <!--Comment Form-->
            <form id="formemloyee" method="post" action="/KarJo/Panel/CreateResume">
                <div class="form-group">
                    <label>First Name</label>
                    <input type="text" id="Firstname" name="FirstName" placeholder=" " value=" " required>
                    <span class="icon fab"></span>
                </div>
                <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" id="Lastname" placeholder=" " value=" " name="LatName" required>
                    <span class="icon fab "></span>
                </div>
                <div class="form-group">
                    <label>Age</label>
                    <input type="text" id="Age" placeholder=" " value=" " name="Age" required>
                    <span class="icon fab fa-instagram"></span>
                </div>
                <div class="radio-outer margin-top-10">
                    <label>Gender</label>
                    <div class="checkbox-outer">
                        <ul class="checkboxes">
                            <li>
                                <input id="check-c1" type="checkbox" name="Gender" value="Male" onclick="selectOnlyThisForC(this,this.id)">
                                <label for="check-c1">Male</label>
                            </li>
                            <li>
                                <input id="check-c2" type="checkbox" name="Gender" value="Female" onclick="selectOnlyThisForC(this,this.id)">
                                <label for="check-c2">Female</label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <label>Education Degree</label>
                    <div class="checkbox-outer">
                        <ul class="checkboxes">
                            <li>
                                <input id="check-a1" type="checkbox" value="Bachelor" name="EduDegree" onclick="selectOnlyThisForA(this,this.id)">
                                <label for="check-a1">Bachelor</label>
                            </li>
                            <li>
                                <input id="check-a2" type="checkbox"  value="Master" name="EduDegree" onclick="selectOnlyThisForA(this,this.id)">
                                <label for="check-a2">Master</label>
                            </li>
                            <li>
                                <input id="check-a3" type="checkbox" value="PHD" name="EduDegree" onclick="selectOnlyThisForA(this,this.id)">
                                <label for="check-a3">PHD</label>
                            </li>
                        </ul>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <label>Ability Description</label>
                    <input type="text" id="AbilityDescription" name="AbilityDescription" placeholder=" " value=" " required>
                    <span class="icon fab"></span>
                </div>
                <div class="form-group">
                    <label>English Ability</label>
                    <div class="checkbox-outer">
                        <ul class="checkboxes">
                            <li>
                                <input id="check-b1" type="checkbox" value="True" name="EnglishAbility" onclick="selectOnlyThisForB(this,this.id)">
                                <label for="check-b1">English Ability</label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <label>Extra Ability</label>
                    <input type="text" id="ExtraAbility" placeholder=" " name="ExtraAbility" value=" " required>
                    <span class="icon fab fa-instagram"></span>
                </div>
                <div class="form-group">
                    <button class="theme-btn btn-style-two" type="submit" id="submit-form">Save Changes</button>
                </div>
            </form>
        </div>
        <!--End Comment Form -->
    </div>
</div>

@section PageScript{
    <script>
        function selectOnlyThisForA(e, id) {
            for (var i = 1; i <= 3; i++) {
                document.getElementById("check-a" + i).checked = false;
            }
            document.getElementById(id).checked = true;
        }
        function selectOnlyThisForC(e, id) {
            for (var i = 1; i <= 2; i++) {
                document.getElementById("check-c" + i).checked = false;
            }
            document.getElementById(id).checked = true;
        }
    </script>
}