
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/KarJo/Views/Shared/_LayoutKarjo.cshtml";
}
<div class="form-widget ls-widget ">
    <div class="widget-title"><h4><span class="icon flaticon-user"></span> General Information</h4></div>
    <div class="widget-content">
        <!-- Comment Form -->
        <div class="row">
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                <div class="ui-item">
                    <div class="left">
                        <h4>@ViewBag.count</h4>
                        <p>Send Resume</p>
                    </div>
                    <div class="right">
                        <i class="icon flaticon-computer"></i>
                    </div>
                </div>
            </div>
        </div>            
        <div class="row">
            <div class="col-lg-12">
                <div class="row buttons">
                    <div class="column col-lg-3 col-md-6 col-sm-12">
                        @if (ViewBag.id == null)
                        {
                            <a href="/KarJo/Panel/CreateResume" class="theme-btn btn-style-three">Prepare Your Resume <span class="icon flaticon-right"></span></a>
                        }
                        else
                        {
                            <a href="/KarJo/Panel/EditResume" class="theme-btn btn-style-three">Edit Your Resume <span class="icon flaticon-right"></span></a>
                        }
                    </div>
                </div>
            </div>
        </div>
        <!--End Comment Form -->

    </div>
</div>