@model IEnumerable<final.Areas.KarJo.ViewModel.ResumeDisplay>
@{
    ViewBag.Title = "SendResume";
    Layout = "~/Areas/KarJo/Views/Shared/_LayoutKarjo.cshtml";
}

<h2>SendResume</h2>
<div class="table-outer">
    <table class="default-table" style="border:0px;">
        <thead>
            <tr>
                <th>Number</th>
                <th>Date</th>
                <th>View</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var group in Model)
            {
                <tr>
                    <td>@group.count</td>
                    <td>@group.date</td>
                    <td>
                        <a onclick="view(@group.id)" href="javascript:;" class="btn btn-outline btn-circle btn-sm purple btn-viewgroup">
                            <i class="fa fa-edit"></i> view |
                        </a>
                        <a href="javascript:;" onclick="Delete(@group.id,this)" class="btn btn-outline btn-circle btn-sm purple btn-deletegroup">
                            <i class="fa fa-edit"></i> Delete
                        </a>
                    </td>
                </tr>

            }
        </tbody>
    </table>
</div>
<div class="modal " id="MyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="" role="document">
        <div class="modal-content">
            <div class="modal-body" id="myModalBody">
                ...
            </div>

        </div>
    </div>
</div>
@section PageScript{
    <script>
        function view(id) {
            $.get("/karJo/Panel/ShowForms/" + id, function (res) {

                $("#MyModal").modal();
                $("#myModalBody").html(res);

            });
        }

        function Delete(id, me) {
            if (confirm("Are you Sure?")) {

                $.get("/karJo/Panel/DeleteForm/" + id, function () {

                    $(me).parent().parent().remove();

                });
            }
        }
    </script>

}
