
@using System.Configuration
@model DataLayer.UserTB
<div style="direction:rtl;padding:20px">
    <p>Dear @Model.UserName</p>
    <p>Please click on Link For Recovery Passowrd</p>
    <p>
        <a href="@ConfigurationManager.AppSettings["MyDomain"]/Account/RecoveryPassword/@Model.ActiveCode">Recover Password</a>
    </p>
</div>
