<section class="call-to-action" style="background-image: url(/Content/images/background/1.jpg);">
    <div class="auto-container">
        <div class="content">
            <h3>Need More Information</h3>
            <div class="text">Keep calm and get a special discount for all oders over $50 from The Naturel Coffee.<br> Hurry up! Only 3 days left.</div>
            <div class="btn-box"><a href="#" class="theme-btn btn-style-three">Explore <span class="flaticon-right"></span></a></div>
        </div>
    </div>
</section>
