@model IEnumerable<DataLayer.JobCategoryTB>
<section class="features-section">
    <div class="auto-container">
        <div class="sec-title text-center">
            <h2>What are you interested in?</h2>
            <span class="divider"></span>
            <div class="text">Explore some of the best tips from around the city from our partners and friends.</div>
        </div>

        <div class="row">

            @foreach (var item in Model)
            {


                <div class="feature-block col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-box">
                        <figure class="image"><img src="/Content/images/resource/interested-6.jpg" alt=""></figure>
                        <div class="overlay-box">
                            <div class="content">
                                <span class="icon-box flaticon-list"></span>
                                <h5>@item.JobCategory</h5>
                                @*<span class="locations">07 Locations</span>*@
                                <a href="/Search?categorySelected=@item.JobCategory" class="overlay-link"></a>
                            </div>
                        </div>
                    </div>
                </div>

            }

        </div>
    </div>
</section>