
<section class="banner-section">
    <!-- Background Layer -->
    <div class="background-layer" style="background-image: url(/Content/images/banner/1.jpg);"></div>

    <div class="auto-container">
        <div class="content-box">
            <!-- Upper Heading -->
            <div class="upper-heading">
                <h3>
                    Discover The
                    <!-- Typed words can be configured in script settings at the bottom of this HTML file -->
                    <span class="typed-words"></span>
                </h3>
                <p>Find great places to stay, eat, shop, or visit from local experts.</p>
            </div>

            <!-- Listing Search Tabs -->
            <div class="listing-search-tabs tabs-box">
                <ul class="tab-buttons">
                    <li class="tab-btn active-btn" data-tab="#tab1">Places</li>
                    <li class="tab-btn" data-tab="#tab2">Events</li>
                    <li class="tab-btn" data-tab="#tab3">Jobs</li>
                    <li class="tab-btn" data-tab="#tab4">Real Estate</li>
                    <li class="tab-btn" data-tab="#tab5">Cars</li>
                </ul>

                <div class="tabs-content">
                    <!--Tab-->
                    <div class="tab active-tab" id="tab1">
                        <div class="listing-search-form">
                            <form method="post" action="https://grandetest.com/theme/listdo-html/index.html">
                                <div class="row">
                                    <div class="form-group col-lg-4 col-md-6 col-sm-12">
                                        <input type="text" name="listing-search" placeholder="What are you looking for?">
                                    </div>
                                    <!-- Form Group -->
                                    <div class="form-group col-lg-3 col-md-6 col-sm-12 location">
                                        <input type="text" name="listing-search" placeholder="Lucation">
                                        <span class="icon flaticon-placeholder" data-text="Type and hit enter"></span>
                                    </div>

                                    <!-- Form Group -->
                                    <div class="form-group col-lg-3 col-md-6 col-sm-12">
                                        <select class="chosen-select">
                                            <option>All Categories</option>
                                            <option>Residential</option>
                                            <option>Commercial</option>
                                            <option>Industrial</option>
                                            <option>Apartments</option>
                                        </select>
                                    </div>

                                    <!-- Form Group -->
                                    <div class="form-group col-lg-2 col-md-6 col-sm-12 text-right">
                                        <button type="submit" class="theme-btn btn-style-two">Search</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <!--Tab-->
                    <div class="tab" id="tab2">
                        <div class="listing-search-form">
                            <form method="post" action="https://grandetest.com/theme/listdo-html/index.html">
                                <div class="row">
                                    <div class="form-group col-lg-4 col-md-6 col-sm-12">
                                        <input type="text" name="listing-search" placeholder="What are you looking for?">
                                    </div>
                                    <!-- Form Group -->
                                    <div class="form-group col-lg-3 col-md-6 col-sm-12 location">
                                        <input type="text" name="listing-search" placeholder="Lucation">
                                        <span class="icon flaticon-placeholder" data-text="Type and hit enter"></span>
                                    </div>

                                    <!-- Form Group -->
                                    <div class="form-group col-lg-3 col-md-6 col-sm-12">
                                        <select class="chosen-select">
                                            <option>All Categories</option>
                                            <option>Residential</option>
                                            <option>Commercial</option>
                                            <option>Industrial</option>
                                            <option>Apartments</option>
                                        </select>
                                    </div>

                                    <!-- Form Group -->
                                    <div class="form-group col-lg-2 col-md-6 col-sm-12 text-right">
                                        <button type="submit" class="theme-btn btn-style-two">Search</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <!--Tab-->
                    <div class="tab" id="tab3">
                        <div class="listing-search-form">
                            <form method="post" action="https://grandetest.com/theme/listdo-html/index.html">
                                <div class="row">
                                    <div class="form-group col-lg-4 col-md-6 col-sm-12">
                                        <input type="text" name="listing-search" placeholder="What are you looking for?">
                                    </div>
                                    <!-- Form Group -->
                                    <div class="form-group col-lg-3 col-md-6 col-sm-12 location">
                                        <input type="text" name="listing-search" placeholder="Lucation">
                                        <span class="icon flaticon-placeholder" data-text="Type and hit enter"></span>
                                    </div>

                                    <!-- Form Group -->
                                    <div class="form-group col-lg-3 col-md-6 col-sm-12">
                                        <select class="chosen-select">
                                            <option>All Categories</option>
                                            <option>Residential</option>
                                            <option>Commercial</option>
                                            <option>Industrial</option>
                                            <option>Apartments</option>
                                        </select>
                                    </div>

                                    <!-- Form Group -->
                                    <div class="form-group col-lg-2 col-md-6 col-sm-12 text-right">
                                        <button type="submit" class="theme-btn btn-style-two">Search</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <!--Tab-->
                    <div class="tab" id="tab4">
                        <div class="listing-search-form">
                            <form method="post" action="https://grandetest.com/theme/listdo-html/index.html">
                                <div class="row">
                                    <div class="form-group col-lg-4 col-md-6 col-sm-12">
                                        <input type="text" name="listing-search" placeholder="What are you looking for?">
                                    </div>
                                    <!-- Form Group -->
                                    <div class="form-group col-lg-3 col-md-6 col-sm-12 location">
                                        <input type="text" name="listing-search" placeholder="Lucation">
                                        <span class="icon flaticon-placeholder" data-text="Type and hit enter"></span>
                                    </div>

                                    <!-- Form Group -->
                                    <div class="form-group col-lg-3 col-md-6 col-sm-12">
                                        <select class="chosen-select">
                                            <option>All Categories</option>
                                            <option>Residential</option>
                                            <option>Commercial</option>
                                            <option>Industrial</option>
                                            <option>Apartments</option>
                                        </select>
                                    </div>

                                    <!-- Form Group -->
                                    <div class="form-group col-lg-2 col-md-6 col-sm-12 text-right">
                                        <button type="submit" class="theme-btn btn-style-two">Search</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <!--Tab-->
                    <div class="tab" id="tab5">
                        <div class="listing-search-form">
                            <form method="post" action="https://grandetest.com/theme/listdo-html/index.html">
                                <div class="row">
                                    <div class="form-group col-lg-4 col-md-6 col-sm-12">
                                        <input type="text" name="listing-search" placeholder="What are you looking for?">
                                    </div>
                                    <!-- Form Group -->
                                    <div class="form-group col-lg-3 col-md-6 col-sm-12 location">
                                        <input type="text" name="listing-search" placeholder="Lucation">
                                        <span class="icon flaticon-placeholder" data-text="Type and hit enter"></span>
                                    </div>

                                    <!-- Form Group -->
                                    <div class="form-group col-lg-3 col-md-6 col-sm-12">
                                        <select class="chosen-select">
                                            <option>All Categories</option>
                                            <option>Residential</option>
                                            <option>Commercial</option>
                                            <option>Industrial</option>
                                            <option>Apartments</option>
                                        </select>
                                    </div>

                                    <!-- Form Group -->
                                    <div class="form-group col-lg-2 col-md-6 col-sm-12 text-right">
                                        <button type="submit" class="theme-btn btn-style-two">Search</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Browse Category -->
        <div class="browse-catergory">
            <div class="text">Or browse the highlights</div>
            <ul class="browse-cat-list">
                <li><a href="#"><span class="icon flaticon-hamburger"></span> Eat & Drink</a></li>
                <li><a href="#"><span class="icon flaticon-shopping-cart"></span> Shopping </a></li>
                <li><a href="#"><span class="icon flaticon-bed"></span> Hotels </a></li>
                <li><a href="#"><span class="icon flaticon-guitar"></span> Nightlife </a></li>
            </ul>
        </div>
    </div>
</section>