
<section class="banner-section">
    <!-- Background Layer -->
    <div class="background-layer" style="background-image: url(/Content/images/banner/1.jpg);"></div>

    <div class="auto-container">
        <div class="content-box">
            <!-- Upper Heading -->
            <div class="upper-heading">
                <h3>
                    Discover The
                    <!-- Typed words can be configured in script settings at the bottom of this HTML file -->
                    <span class="typed-words"></span>
                </h3>
                <p>Find your dream job</p>
            </div>

            <!-- Listing Search Tabs -->
            <div class="listing-search-tabs tabs-box">
                <ul class="tab-buttons">
                    <li class="tab-btn active-btn" data-tab="#tab1">Jobs</li>

                </ul>

                <div class="tabs-content">

                    <div class="tab active-tab" id="tab1">
                        <div class="listing-search-form">
                            <form method="get" action="/Search">
                                <div class="row">
                                    <div class="form-group col-lg-4 col-md-6 col-sm-12">
                                        <input type="text" name="q" placeholder="What are you looking for?">
                                    </div>
                                    <!-- Form Group -->
                                    <div class="form-group col-lg-3 col-md-6 col-sm-12 location">
                                        <input type="text" name="location" placeholder="Lucation">
                                        <span class="icon flaticon-placeholder" data-text="Type and hit enter"></span>
                                    </div>

                                    @{
                                        List<DataLayer.JobCategoryTB> category = ViewBag.category;
                                    }

                                    <!-- Form Group -->
                                    <div class="form-group col-lg-3 col-md-6 col-sm-12">
                                        <select name="categorySelected" class="chosen-select">
                                            @foreach (var item in category)
                                            {
                                                <option >@item.JobCategory</option>
                                            }

                                        </select>
                                    </div>

                                    <!-- Form Group -->
                                    <div class="form-group col-lg-2 col-md-6 col-sm-12 text-right">
                                        <button type="submit" class="theme-btn btn-style-two">Search</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>



                </div>
            </div>

        </div>

        <!-- Browse Category -->
        <div class="browse-catergory">
            <div class="text">Or browse the highlights</div>
            <ul class="browse-cat-list">
                <li><a href="/Search?categorySelected=Computer"><span class="icon flaticon-computer"></span> Computer</a></li>
                <li><a href="/Search?categorySelected=Art"><span class="icon flaticon-heart"></span> Art </a></li>
                <li><a href="/Search?categorySelected=chemistry"><span class="icon flaticon-consulting-message"></span> Chemistry </a></li>
                <li><a href="/Search?categorySelected=electronic"><span class="icon flaticon-favorites"></span> Electrinic </a></li>
            </ul>
        </div>
    </div>
</section>